<h2>Customers</h2>

<!--
<table>

  <tr>
    <td>Nome</td>
    <td>Data de Nascimento</td>
    <td>Email</td>
  </tr>
    <tr>
      <td>Daiane</td>
      <td>24/01/2000</td>
      <td>daianemcdo@sc.senac.com</td>
      </tr>

      <tr>
        <td>Mariana</td>
        <td>02/03/2000</td>
        <td>marianamfd@sc.senac</td>
      </tr>

      <tr>
        <td>Paula</td>
        <td>15/08/2000</td>
        <td>paulalmn@sc.senac</td>
      </tr>

<tr *ngFor="let customer of customers">
    <td>{{customer.name}}</td>
    <td>{{customer.born}}</td>
    <td>{{customer.email}}</td>
  </tr>

  </table>
-->

<!--
  <div *ngFor="let customer of customers">
  <div><b style="color:royalblue">Nome</b></div>
  <a [title]="customer.name + ' details'">
    <p>{{customer.name}}</p>
  </a>

  <div><b style="color:royalblue">Data de Nascimento</b></div>
  <p>{{customer.born}}</p>

 <div><b style="color:royalblue">Email</b>
 <p *ngIf="customer.email">
  {{customer.email}}
</p>
</div>
-->


<!--
<form>
  <div>
    <label for="name">NAME</label>
    <input type="text" id="name" placeholder="Name" required>
  </div>
  <div>
    <label for="dateBirth">DATE OF BIRTH</label>
    <input type="text" id="dateBirth" placeholder="Date Birth">
  </div>
  <div>
    <label for="email">EMAIL</label>
    <input type="text" id="email" placeholder="Email" required>
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>
-->

<form #customerForm="ngForm" (ngSubmit)="OnSubmit(customerForm)">
  <div>
  <label for='name'>Name</label>
    <input #customerName ngModel name='customerName' required placeholder='customer name' />
  </div>

  <div>
  <label for='dateBirth'>Date Of Birth</label>
    <input #customerDateBirth ngModel dateBirth='customerDateBirth' required placeholder="customer date of bitrh" />
  </div>

  <div>
    <label for='email'>Email</label>
    <input #customerEmail ngModel email='customerEmail' required placeholder="customer email" />
  </div>
    <button type="submit" [disabled]="!customerForm.valid">Submit</button>
  </form>

  <p>
    {{ customerName.value }}
    {{ customerDateBirth.value }}
    {{ customerEmail.value }}
  </p>
